# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist 
/output

# debug
yarn-debug.log*
yarn-error.log*

# parcel
.parcel-cache

# env file
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# firebase
.firebase 
firebase-debug.log